body{
	background: #e6e4ed;
}
.conteiner1{
 border: 4px solid #000000;
 width:330px;
 background-image:linear-gradient(to right bottom, #5ac0da, #be16d4);
	background-repeat:no-repeat;
	border-radius:20px;
	margin-left:15px;
	margin-top:45px;
}
.mais{
	margin-left:20px ;
}
.result{
	border-radius:20px;
	border: 3px solid #000000;
	height: 200px;
	width:200px;
	margin-top:45%;
	background:#e2235c;
	margin:40px;
}
p{
	text-align: center;
	margin-top:35%;
	font-weight: bold;
	color:#ffffff;
}
input{
	font-size:15px;
	font-weight: bold;
	padding:10px;
	text-align: center;
	border-radius:25%;
	color:#ffffff;
	border:3px solid #000000;
	background:#e2235c;
	font-weight: bold;
}
table{
	margin-left:20px;
}
input:hover{
	background: #8721e6;
	border:3px solid #ffffff;
}